/* estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        background-color: #610a61 ;
        height: 100vh;
}
.interface{
    max-width: 1580px;
    margin: 0 auto;
}

.flex{
    display:flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:azure;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #a780a7;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgba(240, 255, 255, 0.888);
    transform: scale(1.05);
}

/* estilo do cabeçalho  */
header{
    padding: 40px 4%;
}
header> .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: hsl(0, 0%, 100%);
    transform:scale(1.05) ;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
     display: inline-block;
     padding: 0  40px;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px rgba(240, 255, 255, 0.888);
    transform: scale(1.05);
}

/*estilo do topo do site*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site p{
    font-size: 20px;
    color: white;
}

.topo-do-site .txt-topo-site h1{
    font-size: 35px;
    color: white;
}

.btn-contato{
    margin: 40px 0;
}


.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 4s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}

/*estilo das especialidades*/

section.especialidades{
    padding: 40px 4%;

}

section.especialidades .flex{
     gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
    color: #fff;
}
    





/*formularo de contato*/
section.formulario{
    padding: 80px 4%;

}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.204);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}

form input::placeholder{
    color: #f090f0;
}

form textarea::placeholder{
    resize: none;
    color: #f090f0;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: rgba(240, 255, 255, 0.888);
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
















